body {
  background:black;
  color: white;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
}
ul button {
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  list-style-type: none;
  font-size: 19px;
  margin-left: 50rem;
}

li img {
  display: -webkit-inline-flex;
  display: flex-start;
  height: 100px;
  width: 120px;
  margin: inline-start;
}
h1 {
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  display: flex;
  align-items: right;
  justify-content: center;
}
.App {
  background: url('https://user-images.githubusercontent.com/86509310/130370298-a1e67400-6bdb-4737-9d51-2b8a40809cf3.png');
}
img {
  margin: 0 auto;
  width: 80%;
  margin: 2rem;
}
.App li {
  height: 40px;

}
h2 {
  margin: 0 auto;
  padding: 90px 50px 50px 50px;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-weight: 600px;
}
h3 {
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  height: 700px;
  width: 700px;

}
.about {
  align-items: center;
}
@media (min-width: 600px) {
  button + button,
  input + button {
    margin-left: 1rem;
  }

  .gallery {
    column-count: 2;
  }
}
@media (min-width: 1000px) {
  .gallery {
    column-count: 3;
  }
}

@media (min-width: 1400px) {
  .gallery {
    column-count: 3;
  }
}
.signUp {
  color: white;
  padding: 1.5rem 2rem;
  display: block;
  align-items: center;

}
form {
  display: inline-block;
  align-items: center;
  text-align: left;
  margin: 10rem;

}
