body {
  background: black;
  color: white;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.App {
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  position: fixed;
  background: url('https://user-images.githubusercontent.com/86509310/129934881-18eed1bf-9ca9-4ede-8b1a-8ec318bdbda7.png');
  
}
img {
    padding-top: 30px;
    margin: 0 auto;
    width: 100%;
    
}
nav img {
  align-items: flex-start;
  width: 15%;
  margin: 0 auto;
  /* position: fixed;
  top: 0; */
}
form {
  display: flex;
  align-items: right;
  justify-content: right;

  
}
button {
background: darkgray;
}
.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;

}
@media (min-width: 1000px) {
  button + button,
  input + button {
    margin-left: 1rem;
  }
  .roverPics {
    column-count: 2;
  }
}

@media (min-width: 1400px) {
  .roverPics {
    column-count: 3;
  }
}
@media (min-width: 1500px) {
  .roverPics {
    column-count: 4;
  }
}