body {
  font-family:'Urbanist', sans-serif;
  background: white;
  color: black;
  margin: 0 auto;
}
ul button {
  font-size: 18px;
  border-radius: 8px; 
  background-color: lightgray;
}
ul li {
  list-style: none;
}
li img {
  height: 60px;
  width: 120px;
  margin-top: -1rem;
}
.App {
  /* background: url('https://user-images.githubusercontent.com/86509310/130470445-21f226b6-0bce-47bc-bda9-bac3dd11ea7d.jpeg'); */
  background: url('https://erepublic.brightspotcdn.com/dims4/default/6eefba8/2147483647/strip/true/crop/1080x563+0+33/resize/840x438!/quality/90/?url=http%3A%2F%2Ferepublic-brightspot.s3.amazonaws.com%2F40%2Fdc%2F37b51308130ad8ef01d762ae7730%2Fsurface-of-mars.jpg'); 
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
 
}
img {
  margin: 0 auto;
  width: 80%;
  margin: 2rem;
}
.App li {
  height: 40px;
  list-style: none;
}
h1 {
  font-family: 'Urbanist', sans-serif;
  font-size: 18px;
  display: flex;
  align-items: right;
  justify-content: center;
}
h2 {
  font-family: 'Urbanist', sans-serif;
  font-size: 24px;
  margin: 0 auto;
  padding: 40px;
  max-width: 80vw;
  max-height: 80vw;
}
h3 {
  font-family: 'Urbanist', sans-serif;
  margin: 3rem;
}
.signUpForm {
  background-image: url('https://erepublic.brightspotcdn.com/dims4/default/6eefba8/2147483647/strip/true/crop/1080x563+0+33/resize/840x438!/quality/90/?url=http%3A%2F%2Ferepublic-brightspot.s3.amazonaws.com%2F40%2Fdc%2F37b51308130ad8ef01d762ae7730%2Fsurface-of-mars.jpg');
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px;
  border-style: solid;
  border-color:  gray;
  max-height: 60vh;
  max-width: 30vw;
  margin: 0 auto;
  margin-top: 4rem;
  color: white;
}
.about {
  align-items: center;
}
@media (min-width: 600px) {
  button + button,
  input + button {
    margin-left: 1rem;
  }

  .gallery {
    column-count: 2;
  }
}
@media (min-width: 1000px) {
  .gallery {
    column-count: 3;
  }
}

@media (min-width: 1400px) {
  .gallery {
    column-count: 3;
  }
}
.signUp {
  color: white;
  padding: 1.5rem 2rem;
  display: block;
  align-items: center;

}
form {
  display: inline-block;
  align-items: center;
  text-align: left;
  margin: 10rem;

}
